@use 'carbon-components-svelte/css/all.css';
@use '@carbon/type';
// Include type reset
@include type.reset();

// Include default type styles, targets h1, h2, h3, etc
@include type.default-type();

// Include utility classes for type-related properties
@include type.type-classes();

::-ms-reveal {
    display: none;
}

.success {
    color: var(--cds-support-success-inverse);
}
.warning {
    color: var(--cds-support-warning-inverse);
}
.danger {
    color: var(--cds-support-danger-inverse);
}